body {
background: var(--bg);
color: var(--fontColor);
font-family: helvetica;
}
/*ul {
    font-family: helvetica;
}*/
li {
    list-style: circle;
}
.list {
    list-style: square;
}
/*#msg {
    font-family: monospace;
}
.light-theme {
    color: #0c0c0c;
    background: #00ff00;
}*/
:root {
    --green:#00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
.light-theme{
    --gg: var(--green);
    --fontColor: var(--black);
}
.dark-theme{
    --bg: var(--black);
    --fontColor: var(--green);
}